@tailwind base;
@layer base {
  h1 {
    @apply font-work-bold text-4xl pl-2;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    text-decoration: none;
  }
  p {
    @apply font-work-reg tracking-wider;
  }
}
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "WorkSansReg";
  src: url("../fonts/WorkSans-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "WorkSansMedium";
  src: url("../fonts/WorkSans-Medium.woff2");
  font-display: swap;
}
@font-face {
  font-family: "WorkSansSemi";
  src: url("../fonts/WorkSans-SemiBold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "WorkSansBold";
  src: url("../fonts/WorkSans-Bold.woff2");
  font-display: swap;
}
