@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    text-decoration: none;
  }
}
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "WorkSansReg";
  src: url("../fonts/WorkSans-Regular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "WorkSansMedium";
  src: url("../fonts/WorkSans-Medium.woff2");
  font-display: swap;
}
@font-face {
  font-family: "MiriamMono";
  src: url("../fonts/MiriamMonoCLM-Book.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMono-Regular.woff2");
  font-display: swap;
}
